<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>LaLaLand Photos</h2>
        </header>
        <p>Photography takes an instant <strong>out of time,</strong>
        <br />
        altering life by <strong>holding it still.</strong>
        <br />
        <br />
        - Dorothea Lange</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">More info</a></li>
            </ul>
        </footer>

    </div>

</section>