<!-- Banner -->		
<section id="banner">
    <div class="inner">

        <header>
            <h2 style="font-family:'Pacifico',cursive;text-transform:lowercase;font-size:250%;letter-spacing:1px;font-weight:initial;">lalaland photos</h2>
        </header>
        <p>Photography takes an instant <strong>out of time,</strong>
        <br />
        altering life by <strong>holding it still.</strong>  
        <br />
        - <strong>Dorothea Lange</strong></p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">More info</a></li>
            </ul>
        </footer>
    </div>
</section>