<section class="wrapper style1 container special">
    <div class="row">
        {% assign ctas = site.data.cta %}
        {% for cta in ctas %}
            <div class="4u">
                <section>
                    <span class="icon featured fa-check"></span>
                    <header>
                        <h3>{{ cta.header | markdownify }}</h3>
                    </header>
                    <p>{{ cta.body | markdownify }}</p>
                    <footer>
                        <ul class="buttons">
                            <li><a href="{{ cta.button_link | default:'#' }}" class="button small">{{ cta.button_text }}</a></li>
                        </ul>
                    </footer>
                </section>
            </div>
        {% endfor %}
    </div>
</section>