<header id="header">
	<h1 id="logo" style="font-family:'Pacifico',cursive;text-transform:lowercase;font-size:130%;font-weight:initial;"><a href="/">lalaland <span>photos</span></a></h1>
	<nav id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li class="submenu">
				<a href="/portfolio">Portfolio</a>
				<ul>
					<li><a href="/portfolio/portraits">Portraits</a></li>
					<li><a href="/portfolio/dogs">Dogs</a></li>
					<li><a href="/portfolio/life">Life</a></li>
				</ul>
			</li>
			<li><a href="/contact" class="button special">Contact</a></li>
		</ul>
	</nav>
</header>