<header id="header">
	<h1 id="logo"><a href="/">LalaLand <span>Photos</span></a></h1>
	<nav id="nav">
		<ul>
			<li><a href="/" class="button special">Home</a></li>
			<li><a href="/about">About</a></li>
			<li class="submenu button special">
				<a href="/portfolio">Portfolio</a>
				<ul>
					<li><a href="/left-sidebar">Portraits</a></li>
					<li><a href="/right-sidebar">Dogs</a></li>
					<li><a href="/no-sidebar">Life</a></li>
				</ul>
			</li>
			<li><a href="/quote">Quote</a></li>
			<li><a href="/book" class="button special">Book</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>