---
layout: default
---

{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] | default:site.author %}

<article id="main">
    <header class="special container">
        <span class="icon fa-pencil"></span>
        <h2 class="post-title">{{ page.title }}</h2>
    </header>
    <section class="style3 wrapper container">
        {% if author.picture %}
            <span class="image featured"><img src="{{ author.picture }}" alt=""></span>
        {% endif %}
        {{ author.about | markdownify }}
        {{ content }}
    </section>
</article>
