---
layout: default
---

{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] | default:site.author %}

<article id="main">
    <header class="special container">
        <span class="icon fa-pencil"></span>
        <h2 class="post-title">{{ page.title }}</h2>
        <p>{{ author.about | markdownify }}</p>
    </header>
    <section class="style3 wrapper container">
        {% if author.picture %}
            <span class="image featured"><img id="myImg" src="{{ author.picture }}" alt=""></span>
        {% endif %}
        {% if page.featured_images %}
            {% for img in page.featured_images %}
                <span class="image featured"><img id="myImg" src="{{ img }}" alt=""></span>
            {% endfor %}
        {% endif %}
        {{ content }}
    </section>
</article>
