---
layout: default
title: No Sidebar
body_class: no-sidebar
---
<article id="main">

	<header class="special container">
		<span class="icon fa-mobile"></span>
		<h2>{% if page.headline %}{{ page.headline | markdownify }}{% else %}{{ page.title }}{% endif %}</h2>
		{% if page.description %}
			<p>{{ page.description | markdownify }}</p>
		{% endif %}
	</header>
		
	<!-- One -->
		<section class="wrapper style4 container">
		
			<!-- Content -->
				<div class="content">
					<section>
						{% if page.featured_image %}
							<a href="#" class="image featured"><img src="{{ page.featured_image }}" alt="" /></a>
						{% endif %}
						{{ content }}
					</section>
				</div>

		</section>

	<!-- Two -->
		<section class="wrapper style1 container special">
			<div class="row">
				<div class="4u">
				
					<section>
						<header>
							<h3>This is Something</h3>
						</header>
						<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
						<footer>
							<ul class="buttons">
								<li><a href="#" class="button small">Learn More</a></li>
							</ul>
						</footer>
					</section>
				
				</div>
				<div class="4u">
				
					<section>
						<header>
							<h3>Also Something</h3>
						</header>
						<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
						<footer>
							<ul class="buttons">
								<li><a href="#" class="button small">Learn More</a></li>
							</ul>
						</footer>
					</section>
				
				</div>
				<div class="4u">
				
					<section>
						<header>
							<h3>Probably Something</h3>
						</header>
						<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
						<footer>
							<ul class="buttons">
								<li><a href="#" class="button small">Learn More</a></li>
							</ul>
						</footer>
					</section>
				
				</div>
			</div>
		</section>
		
</article>
