---
layout: default
title: No Sidebar
body_class: no-sidebar
---
<article id="main">

	<header class="special container">
		<span class="icon fa-mobile"></span>
		<h2>{% if page.headline %}{{ page.headline | markdownify }}{% else %}{{ page.title }}{% endif %}</h2>
		{% if page.description %}
			<p>{{ page.description | markdownify }}</p>
		{% endif %}
	</header>
		
	<!-- Main -->
		<section class="wrapper style4 container">
		
			<!-- Content -->
				<div class="content">
					<section>
						{% if page.featured_image %}
							<a href="#" class="image featured"><img src="{{ page.featured_image }}" alt="" /></a>
						{% endif %}
						{{ content }}
					</section>
				</div>

		</section>

	<!-- CTA -->
		{% if page.include_cta %}
			{% include cta.html %}
		{% endif %}
		
</article>
