---
layout: default
---

<article id="main">
  <header class="special container">
    <span class="icon {{ page.icon }}"></span>
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <section class="style4 wrapper container">
    {% if page.featured_image %}
      <span class="image featured"><img id="myImg" src="{{ page.featured_image }}" alt="LaLaLand Photos"></span>
    {% endif %}
    {{ content }}
    {% if page.drive_id %}
      <iframe src="https://drive.google.com/a/ferrell.io/embeddedfolderview?id={{ page.drive_id }}#{{ page.drive_display | default:'grid' }}" style="width:100%; height:600px; border:0;"></iframe>
    {% endif %}
  </section>
    
    <footer>
        {% if page.previous %}
        <a href="{{ page.previous.url }}" class="post-prev">&larr; Previous post</a> {% endif %}
        {% if page.next %}
        <a href="{{ page.next.url }}" class="post-next">Next post &rarr;</a> {% endif %}
    </footer>
</article>